@model IEnumerable<Aula6.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Students list</h1>
@if (string.IsNullOrEmpty(ViewBag.letter) == false)
{
    <p>Names started by '@ViewBag.letter'</p>
}
else 
{
    <p>All names</p>
}

@if (string.IsNullOrEmpty(ViewBag.letter))
{
    <span style="color: red; font-weight: bold;">All &nbsp;|&nbsp;</span>
}
else 
{
    <span><a asp-route="filtered" asp-route-letter="">All</a> &nbsp;|&nbsp;</span>
}

@for (char c = 'A'; c <= 'Z'; c++)
{
    @if (ViewBag.letter == "" + c) // verify if letter is already selected
    {
        <span style="color: red; font-weight: bold;">@c &nbsp;|&nbsp;</span>
    }
    else 
    {
        <span><a asp-route="filtered" asp-route-letter="@c">@c</a> &nbsp;|&nbsp;</span>
    }
}
<partial name="Listing" model="Model" />